# core stuff
_data
software.csv
0
.env*
software.yaml
software.yml

# neovim
**/lazy-lock.json
**/lazyvim.json

# winterm
config/winterm/state.json

# powershell
config/pwsh/Modules/Microsoft.PowerShell.PSResourceGet
config/pwsh/Modules/PackageManagement
config/pwsh/Modules/PowerShellGet
config/pwsh/Modules/PSReadLine
config/pwsh/Modules/Terminal-Icons
config/pwsh/Modules/Fonts
